<% include partials/header %>

<h1 class="head">Create your new post here!</h1>

    <div class="form-container">
        <!--Have information in blog form to /blogs and add it to db-->
        <form action="/blogs" method="POST">
            <!--*****  NAME SYNTAX ( blog[---] ) USED TO PULL FROM INDIVIDUAL BLOG OBJECTS *****-->
            <!--Blog title-->
            <input type="text" name="blog[title]" placeholder="Title" required>
            <!--Blog image-->
            <input type="text" name="blog[image]" placeholder="Image URL" required>
            <!--Blog content-->
            <textarea rows="10" cols="50" name="blog[body]" placeholder="Blog content goes here..." required></textarea>
            <input class="btn btn-outline-success" type="submit" id="submit-btn">
        </form>
    </div>


<% include partials/footer %>
